<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/change_pass" method="POST">
    <input type="hidden" name="email" value={{email}}/>
    <input name="password1" type="password" placeholder="password" /><br>
    <input name="password2" type="password" placeholder="password" /><br>
    <button type="submit">Submit</button>

    
    </form>
</body>
</html>